/*my first css*/
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(94, 115, 66);
}
img{
    border: 10px solid rgb(53, 46, 33);
}
h1{
    border: 10px dotted rgb(28, 143, 147);
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
ul{
    font-size: 2rem;
    text-align: center;
}

