/*my first css*/
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(47, 145, 154);
}
img{
    border: 10px solid rgb(21, 25, 36);
}
h1{
    border: 10px dotted rgb(4, 42, 44);
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
ul{
    font-size: 2rem;
    text-align: center;
}