/*my first css*/
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(196, 202, 188);
}
img{
    border: 10px solid paleturquoise;
}
h1{
    border: 10px dotted blueviolet;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
ul{
    font-size: 2rem;
    text-align: center;
}
