/*my first css*/
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:aqua
}
img{border: 10px solid red;}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
li{
    font-size: 2rem ;
    
}